@font-face {
      font-family: 'Lato';
      src: url('../fonts/latoregular.woff2') format('woff2'),
           url('../fonts/latoregular.woff') format('woff'),
           url('../fonts/latoregular.woff') format('truetype');
      font-weight: 400;
      font-style: normal;
}

@font-face {
      font-family: 'Lato';
      src: url('../fonts/latolight.woff2') format('woff2'),
           url('../fonts/latolight.woff') format('woff'),
           url('../fonts/latolight.woff') format('truetype');
      font-weight: 300;
      font-style: normal;
}

@font-face {
      font-family: 'Lato';
      src: url('../fonts/latobold.woff2') format('woff2'),
           url('../fonts/latobold.woff') format('woff'),
           url('../fonts/latobold.woff') format('truetype');
      font-weight: 700;
      font-style: normal;
}

@font-face {
      font-family: 'Lato';
      src: url('../fonts/latomedium.woff2') format('woff2'),
           url('../fonts/latomedium.woff') format('woff'),
           url('../fonts/latomedium.woff') format('truetype');
      font-weight: 500;
      font-style: normal;
}

@font-face {
      font-family: 'Lato';
      src: url('../fonts/latosemibold.woff2') format('woff2'),
           url('../fonts/latosemibold.woff') format('woff'),
           url('../fonts/latosemibold.woff') format('truetype');
      font-weight: 600;
      font-style: normal;
}

@font-face {
      font-family: 'Lato';
      src: url('../fonts/latoblack.woff2') format('woff2'),
           url('../fonts/latoblack.woff') format('woff'),
           url('../fonts/latoblack.woff') format('truetype');
      font-weight: 600;
      font-style: normal;
}

