.form-wrapper {
  max-width: 365px;
  width: 100%;
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  background-color: white;
  padding: 25px 40px;
  &-header {
    margin-left: 40px;
    position: relative;
    padding-bottom: 50px;
    @media (max-width: 1000px) {
      margin-left: 0;
    }
    &-gift {
      display: flex;
      align-items: center;
      background-color: #625857;
      width: 140px;
      height: 45px;
      border-radius: 23px;
      position: absolute;
      bottom: -10px;
      right: -60px;
      img {
        padding: 0 10px 0 15px;
      }
      span {
        color: white;
        font-weight: 400;
        line-height: 14px;

      }
    }
  }
  &-title {
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    span {
      font-weight: 700;
    }
  }
  &-subtitle {
    font-size: 18px;
    color: black;
    font-weight: 300;
    line-height: 17px;
    padding: 5px 0;
  }
  .consent-save-data {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    margin-top: 8px;
    color: rgba(0,0,0,.6);
  }
}

.form-group {
  margin-bottom: 0;
  label {
    color: black;
    font-size: 14px;
    font-weight: 300;
  }
  input {
    background-color: #eef2f6;
    max-width: 277px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 2px;
    padding-left: 40px;
    font-weight: 300;
    font-size: 16px;
    color: rgba(105,120,135, 0.6);
    outline: 0;
    @include placeholder {
      color: rgba(105,120,135, 0.6);
      font-size: 16px;
      font-weight: 300;
    }
  }
  input[name="name"] {
    background-image: url('../img/icon/user-icon.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  input[name="phone"] {
    background-image: url('../img/icon/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
  }
}

.form-calculator {
  &-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    span {
      font-size: 18px;
      color: black;
      font-weight: 300;
      min-width: 175px;
    }
    input {
      width: 60px;
      height: 40px;
      border: 0;
      box-shadow: inset 0 0 2px 1px #e6e7e7;
      border-radius: 2px;
      background-color: #eef2f6;
      outline: none;
      font-size: 16px;
      text-align: center;
      font-weight: 700;
    }
    label {
      font-size: 18px;
      font-weight: 300;
      color: black;
    }
    &-result {
      font-size: 18px;
      margin-right: 20px;
      font-weight: 700;
    }
  }
  &-gift {
    display: flex;
    align-items: center;
    padding: 10px 0;
    p {
      font-size: 18px;
      font-weight: 300;
      color: black;
      line-height: 1.2;
      text-align: right;
      span {
        font-weight: 600;
      }
    }
  }
}