.modals-sm {
  .modal-dialog {
    max-width: 436px;
    width: 100%;
  }
}


.modal-content {
  .close {
    position: absolute;
    right: -32px;
    top: -30px;
    opacity: 1;
  }
}

.modal.in .modal-dialog {
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

.form-wrapper {
  max-width: 365px;
  width: 100%;
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  background-color: white;
  padding: 25px 40px;

  @media (max-width: 767px) {
    padding: 20px;
    max-width: 290px;
    margin: 0 auto;
  }

  &-modal {
    margin: 0 auto;
    box-shadow: none;
    padding: 35px 32px;
    background-color: transparent;
    .form-wrapper-title {
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 1.2;
    }
    .form-wrapper-subtitle {
      padding-bottom: 15px;
          padding-right: 24px;
        margin: 0 auto;
        line-height: 1.2;
    }
    .btn-green-lg {
      font-size: 16px;
      font-weight: 700;
    }
    .consent-save-data {
      max-width: 284px;
    }
  }

  &-header {
    margin-left: 40px;
    position: relative;
    padding-bottom: 50px;
    @media (max-width: 1000px) {
      margin-left: 0;
    }
    &-gift {
      display: flex;
      align-items: center;
      background-color: #625857;
      width: 140px;
      height: 45px;
      border-radius: 23px;
      position: absolute;
      bottom: -10px;
      right: -60px;

      @media (max-width: 1100px) {
        right: -5px;
      }
      img {
        padding: 0 10px 0 15px;
      }
      span {
        color: white;
        font-weight: 400;
        line-height: 14px;

      }
    }
  }
  &-title {
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;

    @media (max-width: 767px) {
      font-size: 20px;
    }

    span {
      font-weight: 700;
    }
  }
  &-subtitle {
    font-size: 18px;
    color: black;
    font-weight: 300;
    line-height: 17px;
    padding: 5px 0;

    @media (max-width: 767px) {
        font-size: 14px;
      }
  }
  .consent-save-data {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    margin-top: 8px;
    color: rgba(0,0,0,.6);
  }
}

.modals-lg {
  .modal-dialog {
    max-width: 750px;
    width: 100%;
  }
  .modal-content {
    display: flex;
    align-items: center;
    padding-left: 65px;
  }

  .form-wrapper-modal {
    .form-wrapper-title {
      text-align: left;
      width: 382px;
    }
    .form-wrapper-subtitle {
      text-align: left;
      margin: 0;
      width: 346px;
      max-width: none;
    }
  }
}

.form-group {
  margin-bottom: 0;
  label {
    color: black;
    font-size: 14px;
    font-weight: 300;
  }
  input {
    background-color: #eef2f6;
    max-width: 277px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 2px;
    padding-left: 40px;
    font-weight: 300;
    font-size: 16px;
    color: rgba(105,120,135, 0.6);
    outline: 0;
    @include placeholder {
      color: rgba(105,120,135, 0.6);
      font-size: 16px;
      font-weight: 300;
    }
    @media (max-width: 767px) {
      height: 45px;
    }
  }
  input.form-group-name {
    background-image: url('../img/icon/user-icon.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  input.form-group-phone {
    background-image: url('../img/icon/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
  }
}

.form-calculator {
  &-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    span {
      font-size: 18px;
      color: black;
      font-weight: 300;
      min-width: 175px;
      @media (max-width: 767px) {
        font-size: 15px;
        min-width: 140px;
      }
    }
    input {
      width: 60px;
      height: 40px;
      border: 0;
      box-shadow: inset 0 0 2px 1px #e6e7e7;
      border-radius: 2px;
      background-color: #eef2f6;
      outline: none;
      font-size: 16px;
      text-align: center;
      font-weight: 700;
    }
    label {
      font-size: 18px;
      font-weight: 300;
      color: black;
      @media (max-width: 767px) {

      }
    }
    &-result {
      font-size: 18px;
      margin-right: 20px;
      font-weight: 700;
    }
  }
  &-gift {
    display: flex;
    align-items: center;
    padding: 10px 0;
    p {
      font-size: 18px;
      font-weight: 300;
      color: black;
      line-height: 1.2;
      text-align: right;
      @media (max-width: 767px) {
        font-size: 15px;
      }
      span {
        font-weight: 600;
      }
    }
  }
}