.header {
  background-image: url(../img/bg/main-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 160px;

  @media (max-width:1270px) {
    overflow: hidden;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 115px 0;

    @media (max-width:1200px) {
      padding: 30px 0 65px 0;
    }

    @media (max-width:767px) {
      flex-direction: column;
      padding: 30px 0;
    }

    &-thanks {
      padding: 30px 0 51px 0;
    }

    &-info {
      display: flex;
      align-items: center;

      @media (max-width:767px) {
        flex-direction: column;
      }

      p {
        color: white;
        font-size: 16px;
        font-weight: 400;
        padding-left: 25px;

        @media (max-width:1200px) {
          padding-right: 40px;
        }

        @media (max-width:767px) {
          padding: 20px 40px 0 40px;
          text-align: center;
          line-height: 1.2;
          margin-bottom: 15px;
        }

      }

    }

    &-call {
      display: flex;
      align-items: center;

      @media (max-width:767px) {
        flex-direction: column;
      }

      &-btn {
        width: 180px;
        font-size: 16px;
        color: white;
        border-bottom: 3px solid $dark-green;
      }

      &-phone {
        padding-left: 40px;

        @media (max-width:767px) {
          padding-left: 0;
          margin-top: 20px;
        }

        a {
          font-size: 28px;
          font-weight: 700;
          color: white;
          display: block;
          text-decoration: none;
          line-height: 1.2;

          @media (max-width:1200px) {
            font-size: 25px;
          }

          @media (max-width:767px) {
            font-size: 28px;
          }

          &:before {
            content: url('../img/icon/phone-call.png');
            padding-right: 13px;
          }

        }

        span {
          color: #fefefe;
          font-size: 16px;
          font-weight: 300;
        }

      }

    }

  }

  &-main {
    display: flex;

    @media (max-width:991px) {
      flex-direction: column;
    }

    &-desc {
      max-width: 650px;

      h1 {
        color: white;
        font-weight: 900;
        line-height: 50px;
        font-size: 56px;
        margin-top: 0;

        @media (max-width:767px) {
          font-size: 25px;
          line-height: 1.2;
          text-align: center;
        }
      }

      &-list {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;

        @media (max-width: 767px) {
          flex-direction: column;
        }

        ul {
          padding: 0;
          margin: 0;
          max-width: 323px;
          @media (max-width: 767px) {
            // margin-bottom: 15px;
          }

          li {
            list-style: none;
            font-size: 22px;
            color: white;
            font-weight: 300;
            line-height: 20.02px;
            position: relative;
            padding-left: 50px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;

            img {
              position: absolute;
              left: 0;
            }

          }

        }

      }

    }

    &-form {
      position: relative;

      .btn-green {
        margin-top: 20px;
      }

      &-present {
        position: absolute;
        right: -150px;
        bottom: -30px;

        @media (max-width:1200px) {
          right: auto;
          left: 200px;
        }

      }

    }

  }

  &-thanks {
    &-title {
      color: white;
      font-size: 56px;
      font-weight: 700;
    }

    &-subtitle {
      font-size: 30px;
      font-weight: 400;
      color: white;
      line-height: 1.2;
      max-width: 450px;
      margin: 0 auto;
    }

    &-avatar {
      padding-top: 35px;
    }

    &-text {
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      padding-top: 15px;
    }

  }

}