.header {
  background-image: url(../img/bg/main-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 160px;
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 115px 0;
    &-info {
      display: flex;
      align-items: center;
      p {
        color: white;
        font-size: 16px;
        font-weight: 400;
        padding-left: 25px;
      }
    }
    &-call {
      display: flex;
      align-items: center;
      &-btn {
        width: 180px;
        font-size: 16px;
        color: white;
        border-bottom: 3px solid $dark-green;
      }
      &-phone {
        padding-left: 40px;
        a {
          font-size: 28px;
          font-weight: 700;
          color: white;
          display: block;
          text-decoration: none;
          line-height: 1.2;
          &:before {
            content: url('../img/icon/phone-call.png');
            padding-right: 13px;
          }
        }
        span {
          color: #fefefe;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }

  &-main {
    display: flex;
    &-desc {
      max-width: 650px;
      h1 {
        color: white;
        font-weight: 900;
        line-height: 50px;
        font-size: 56px;
        margin-top: 0;
      }
      &-list {
        display: flex;
        justify-content: space-between;
        ul {
          padding: 0;
          margin: 0;
          max-width: 323px;
          li {
            list-style: none;
            font-size: 22px;
            color: white;
            font-weight: 300;
            line-height: 20.02px;
            position: relative;
            padding-left: 50px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            img {
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
    &-form {
      position: relative;
      .btn-green {
        margin-top: 20px;
      }
      &-present {
        position: absolute;
        right: -150px;
        bottom: -30px;
      }
    }
  }
}