.header {
  background-image: url(../img/bg/main-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 160px;
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 115px 0;
    &-info {
      display: flex;
      align-items: center;
      p {
        color: white;
        font-size: 16px;
        font-weight: 400;
        padding-left: 25px;
      }
    }
    &-call {
      display: flex;
      align-items: center;
      &-btn {
        width: 180px;
        font-size: 16px;
        color: white;
        border-bottom: 3px solid $dark-green;
      }
      &-phone {
        padding-left: 40px;
        a {
          font-size: 28px;
          font-weight: 700;
          color: white;
          display: block;
          text-decoration: none;
          line-height: 1.2;
          &:before {
            content: url('../img/icon/phone-call.png');
            padding-right: 13px;
          }
        }
        span {
          color: #fefefe;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }

  &-main {
    display: flex;
    &-desc {
      max-width: 650px;
      h1 {
        color: white;
        font-weight: 900;
        line-height: 50px;
        font-size: 56px;
        margin-top: 0;
      }
      &-list {
        display: flex;
        justify-content: space-between;
        ul {
          padding: 0;
          margin: 0;
          max-width: 323px;
          li {
            list-style: none;
            font-size: 22px;
            color: white;
            font-weight: 300;
            line-height: 20.02px;
            position: relative;
            padding-left: 50px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            img {
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
    &-form {
      position: relative;
      .btn-green {
        margin-top: 20px;
      }
      &-present {
        position: absolute;
        right: -150px;
        bottom: -30px;
      }
    }
  }
}

.form-wrapper {
  max-width: 365px;
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  background-color: white;
  padding: 25px 40px;
  &-header {
    margin-left: 40px;
    position: relative;
    padding-bottom: 50px;
    &-gift {
      display: flex;
      align-items: center;
      background-color: #625857;
      width: 140px;
      height: 45px;
      border-radius: 23px;
      position: absolute;
      bottom: -10px;
      right: -60px;
      img {
        padding: 0 10px 0 15px;
      }
      span {
        color: white;
        font-weight: 400;
        line-height: 14px;

      }
    }
  }
  &-title {
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    span {
      font-weight: 700;
    }
  }
  &-subtitle {
    font-size: 18px;
    color: black;
    font-weight: 300;
    line-height: 17px;
    padding: 5px 0;
  }
  .consent-save-data {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    margin-top: 8px;
    color: rgba(0,0,0,.6);
  }
}

.form-group {
  margin-bottom: 0;
  label {
    color: black;
    font-size: 14px;
    font-weight: 300;
  }
  input {
    background-color: #eef2f6;
    max-width: 277px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 2px;
    padding-left: 40px;
    font-weight: 300;
    font-size: 16px;
    color: rgba(105,120,135, 0.6);
    outline: 0;
    @include placeholder {
      color: rgba(105,120,135, 0.6);
      font-size: 16px;
      font-weight: 300;
    }
  }
  input[name="name"] {
    background-image: url('../img/icon/user-icon.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  input[name="phone"] {
    background-image: url('../img/icon/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
  }
}