.how-job {
  background-color: #f8fbfc;
  padding: 80px 0;
  @media (max-width: 767px) {
    padding: 40px 0 20px 0;
  }
  &-title {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    color: black;
    @media (max-width: 767px) {
          font-size: 20px;
          line-height: 1.2;
    }
  }
  &-list {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    .slick-slide img {
      margin: 0 auto;
    }
    .slick-slide {
      outline: none;
    }

    .slick-dots  {
      bottom: -15px;
    }

    .slick-dots li {
      background-color: #dcdcdc;
    }

    .slick-dots .slick-active {
      background-color: #4274b0;
    }
    &-item {
      width: 263px;
      height: 395px;
      border: 1px solid #dcdcdc;
      transition: all .3s ease;
      padding: 40px 17px 15px 17px;
      position: relative;
      background-color: white;
      @media (max-width: 1200px) {
        height: 420px;
      }
      @media (max-width: 991px) {
        margin-bottom: 15px;
      }
      @media (max-width: 767px) {
        height: 395px;
        border: 1px solid #4274b0;
      }
      &:hover {
        border: 1px solid #4274b0;
      }
      &-title {
        color: black;
        font-weight: 400;
        font-size: 24px;
        margin-top: 23px;

      }
      p {
        font-size: 18px;
        font-weight: 300;
        color: black;
        line-height: 1.4;
        span {
          text-decoration: underline;
          cursor: pointer;
        }
        a {
          font-weight: 400;
          color: black;
        }
      }
      &-num {
        font-size: 80px;
        color: #4274b0;
        font-weight: 400;
        position: absolute;
        bottom: -20px;
        text-align: center;
        left: 0;
        right: 0;
      }
    }
  }
}