.final-repairs {
  background-image: url('../img/bg/final-repair.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 50px;
  &-title {
    font-size: 50px;
    color: white;
    font-weight: 700;
    max-width: 560px;
    margin-top: 80px;
  }
  &-form {
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    .form-wrapper-title {
      margin-bottom: 30px;
    }
  }
}