.team {
  background-color: #f8fbfc;
  padding: 80px 0;
  @media (max-width: 767px) {
    padding: 40px 0;
  }
  &-title {
    color: black;
    font-size: 28px;
    font-weight: 400;
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  &-subtitle {
    color: black;
    font-weight: 300;
    font-size: 22px;
    max-width: 790px;
    margin: 0 auto;
    line-height: 1.4;
    @media (max-width: 767px) {
      font-size: 16px;
      padding-top: 20px;
    }
    span {
      font-weight: 500;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    .btn-green {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      margin-top: 50px;

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @media (max-width: 991px) {
        flex-wrap: wrap;
    }

    .slick-dots {
      bottom: -12px;
    }

    .slick-dots li {
      background-color: #dcdcdc;
    }

    .slick-dots .slick-active {
      background-color: #4274b0;
    }

    &-item {
      max-width: 262px;
      width: 100%;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border-radius: 2px;
      border: 1px solid #dcdcdc;
      background-color: white;
      padding: 8px;

      @media (max-width: 1000px) {
        margin-bottom: 20px;
      }

      @media (max-width: 767px) {
        max-width: none;
        box-shadow: none;
      }

      img {
        min-height: 279px;
        width: 100%;
        @media (max-width: 1200px) {
          object-fit: cover;
        }
      }
      &-name {
        color: black;
        font-size: 18px;
        font-weight: 400;
        margin-top: 15px;
      }
      &-post {
        font-size: 16px;
        font-weight: 300;
      }
      &-link {
        font-weight: 300;
        font-size: 12px;
        padding-top: 5px;
      }
    }
  }
}